/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Components design --- */
@import url("components/card.css");
@import url("components/navbar.css");

/* --- Layouts --- */
/*@import url("pages/campuses.css");*/

/* --- Base --- */
/* --- Setting base html and *(all) selectors to create 10px grid for future use with REM units --- */
* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

/* --- Fonts & colors --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
}
.text-center {
  text-align: center;
}
